<%- include('partials/header') %>
				<!-- Main -->
					<div id="main">
						<% results.data.forEach( e => { %>
							<article class="thumb">
								<a class='image'>
									<img src="<%= e.background %>" alt=""/>
								</a>
									<h2 style="border: dashed black 1rem; background-color: black;">
										<a href='/info/<%= e.id %>'>
										<%= e.name %> - <%= labels.filter( label => label.id === e.status)[0].name %>
										</a>
									</h2>
								</article>
						<% }) %>
					</div>
<%- include('partials/footer') %>